# 딥 러닝을 이용한 자연어 처리 입문

아래 링크의 E-book을 보고 실습한 내용입니다.

WikiDocs 주소: https://wikidocs.net/31766


# 4장 카운트 기반의 단어 표현

## 4절 TF-IDF (Term Frequency - Inverse Document Frequency)

## TF-IDF (Term Frequency - Inverse Document Frequency)

### 파이썬을 이용해 TF-IDF 구현하기

In [1]:
import pandas as pd
from math import log

In [15]:
docs = [
  '먹고 싶은 사과',
  '먹고 싶은 바나나',
  '길고 노란 바나나 바나나',
  '저는 과일이 좋아요'
] 
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()

In [39]:
def TF(t, d):
    """TF: 특정 단어 t가 문서 d에서 등장한 횟수"""
    return d.count(t)

def IDF(t):
    """
    DF: 특정 단어 t가 등장한 문서의 수
    IDF: log(N/(df+1))
    """
    df = 0
    for doc in docs:
        df += t in doc
    return log(N/(df+1))

def TF_IDF(t, d):
    """TF * IDF"""
    return TF(t, d) * IDF(t)

N = len(docs)

In [34]:
"""TF를 계산하여 DTM을 구함"""
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(TF(t, d))
        
tf = pd.DataFrame(result, columns=vocab)
tf

   과일이  길고  노란  먹고  바나나  사과  싶은  저는  좋아요
0    0   0   0   1    0   1   1   0    0
1    0   0   0   1    1   0   1   0    0
2    0   1   1   0    2   0   0   0    0
3    1   0   0   0    0   0   0   1    1

In [35]:
"""각 단어에 대한 IDF 계산 결과"""
result = []
for i in range(len(vocab)):
    t = vocab[i]
    result.append(IDF(t))

idf = pd.DataFrame(result, index=vocab, columns=["IDF"])
idf

          IDF
과일이  0.693147
길고   0.693147
노란   0.693147
먹고   0.287682
바나나  0.287682
사과   0.693147
싶은   0.287682
저는   0.693147
좋아요  0.693147

In [41]:
"""TF-IDF 출력"""
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(TF_IDF(t, d))
tf_idf = pd.DataFrame(result, columns=vocab)
tf_idf

,과일이,길고,노란,먹고,바나나,사과,싶은,저는,좋아요
0,0.000000,0.000000,0.000000,0.287682,0.000000,0.693147,0.287682,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.287682,0.287682,0.000000,0.287682,0.000000,0.000000
2,0.000000,0.693147,0.693147,0.000000,0.575364,0.000000,0.000000,0.000000,0.000000
3,0.693147,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.693147,0.693147

### Scikit-learn 이용해 TF-IDF 구하기

In [47]:
from sklearn.feature_extraction.text import CountVectorizer

corpus = [
    "you know I want your love",
    "I like you",
    "What should I do"
]
vector = CountVectorizer()
print("단어의 빈도수 부여:", vector.fit_transform(corpus).toarray())
print("\n부여된 인덱스:", vector.vocabulary_)

단어의 빈도수 부여: [[0 1 0 1 0 1 0 1 1]
 [0 0 1 0 0 0 0 1 0]
 [1 0 0 0 1 0 1 0 0]]

부여된 인덱스: {'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidfv = TfidfVectorizer().fit(corpus)
print("tfidf:", tfidfv.transform(corpus).toarray())
print("\n부여된 인덱스:", tfidfv.vocabulary_)

tfidf: [[0.         0.46735098 0.         0.46735098 0.         0.46735098
  0.         0.35543247 0.46735098]
 [0.         0.         0.79596054 0.         0.         0.
  0.         0.60534851 0.        ]
 [0.57735027 0.         0.         0.         0.57735027 0.
  0.57735027 0.         0.        ]]

부여된 인덱스: {'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}